node_modules
*.DS_Store
/.DS_Store
.idea
.vscode
*.log
*.suo
*.ntvs*
*.njsproj
*.sln
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

docs/.vuepress/dist
docs/.vuepress/static-server
